/* Sessão Sobre */
section.sobre {
	width: 100%;
	color: white;
	margin-bottom: 80px;
}

section.sobre div {
	width: 80%;
	margin: 50px auto;
	text-align: center;
	padding: 0px 20px;
	border-left: 2px solid #E71E3F;
	border-right: 2px solid #E71E3F;
	height: 200px;
}

section.sobre h3 {
	font-family: "BaiJamjuree-Bold";
	font-size: 25px;
	text-align: center;
	padding-bottom: 20px;
	color: #C7D1D9;
}

section.sobre p {
	font-family: "BaiJamjuree-Medium";
	color: rgba(255, 255, 255, .7);
	vertical-align: middle;
	font-size: 22px;
	letter-spacing: 1px;
}

/* Propósitos */
h3#titulo-propositos {
	font-family: "BaiJamjuree-Bold";
	font-size: 20px;
	text-align: center;
	padding-bottom: 20px;
	color: #C7D1D9;
}

h3#titulo-propositos span {
	color: red;
}

section.propositos {
	color: white;
	display: flex;
	flex-direction: column;
}

section.propositos div.proposito {
	display: flex;
	height: 200px;
	margin: 40px 0;
}

section.propositos div.proposito div.texto {
	width: 40%;
	margin-left: 40px;
}

section.propositos div.proposito div.texto h3 {
	font-size: 25px;
	font-family: "BaiJamjuree-Bold";
	color: #C7D1D9;
}

section.propositos div.proposito div.texto p {
	font-size: 20px;
	font-family: "BaiJamjuree-Medium";
	color: rgba(255, 255, 255, .7);
}

section.propositos div.proposito img {
	width: 60%;
}
