/* Sessão de Informação */
section.info {
	width: 100%;
	color: white;
	margin-bottom: 90px;
}

section.info div {
	width: 80%;
	margin: 50px auto;
	text-align: center;
	padding: 0px 20px;
	border-left: 2px solid #E71E3F;
	border-right: 2px solid #E71E3F;
	height: 100px;
}

section.info div h3 {
	font-family: "BaiJamjuree-Light";
	font-size: 30px;
	color: #C7D1D9;
}

/* Serviços */
h2#titulo-servicos {
	color: white;
	text-align: center;
	font-family: "BaiJamjuree-Bold";
	color: #C7D1D9;
	font-size: 27px;
	margin-bottom: 100px;
}

section.services {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

section.services .container-service {
	display: flex;
}

section.services .container-service .service{
	width: 50%;
	color: white;
	height: 280px;
	border: 1px solid rgba(231,30,63,0.5);
	margin: 0 20px 40px 0;
}

section.services .container-service .service:nth-of-type(2) {
	margin-right: 0;
}

section.services .container-service .service h3 {
	font-family: "BaiJamjuree-Medium";
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 28px;
	text-shadow: 1px 1px rgba(0, 0, 0, .6);
}

/* Serviço: Teste de Penetração; */

section.services .container-service .pentest {
	background-image: url("../images/pentest.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Serviço: Consultoria em Segurança; */

section.services .container-service .consultoria {
	background-image: url("../images/consultoria.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Serviço: Desenvolvimento Seguro; */

section.services .container-service .desenvolvimento-seguro {
	background-image: url("../images/desenvolvimento_seguro.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Serviço: Treinamentos; */

section.services .container-service .treinamentos {
	background-image: url("../images/treinamentos.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Infos dos serviços */
section.services .container-service .service p {
	text-align: center;
	position: relative;
	top: 50%;
	font-family: "BaiJamjuree-Medium";
	display: none;
	text-shadow: 1px 1px rgba(0, 0, 0, .6);
	font-size: 17px;
}
