* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

/* Header */
section.header header {
	width: 100%;
}

section.header {
	height: 100%;
	width: 100%;
}

/* Menu header */
section.header nav.menu ul {
	text-align: center;
}

section.header nav.menu ul li {
	display: inline-block;
	margin: 20px 20px;
}