@font-face {
	font-family: "BaiJamjuree-Light";
	src: url("../fonts/Bai-Jamjuree/BaiJamjuree-Light.ttf");
}

@font-face {
	font-family: "BaiJamjuree-Medium";
	src: url("../fonts/Bai-Jamjuree/BaiJamjuree-Medium.ttf");
}

@font-face {
	font-family: "BaiJamjuree-Bold";
	src: url("../fonts/Bai-Jamjuree/BaiJamjuree-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #020916;
}

/* Container Header */
div.container-header {
	height: 100%;
	background-image: url("../images/background-header.png");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Header */
section.header header {
	width: 100%;
	position: absolute;
	top: 0;
}

section.header {
	width: 100%;
}

/* Menu header */
section.header nav.menu ul {
	text-align: center;
}

section.header nav.menu ul li {
	display: inline-block;
	margin: 20px 20px;
	font-family: "BaiJamjuree-Medium";
	color: white;
	font-size: 15px;
}

section.header nav.menu ul li a {
	text-decoration: none;
	color: white;
}

/* Logo menu */
section.header nav.menu ul li#logo img {
	width: 30px;
	vertical-align: middle;
}

/* Botão Saiba Mais */
div.display {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

div.display h1 {
	font-family: "BaiJamjuree-Light";
	font-size: 40px;
	letter-spacing: 2;
	color: white;
}

div.display button {
	-webkit-box-shadow: 0px 0px 2px 2px #741A3E; 
	box-shadow: 0px 0px 2px 2px #741A3E;
	border: none;
	background: rgba(0, 0, 0, .7);
	color: white;
	padding: 11px 35px 11px 35px;
	margin-top: 20px;
	font-size: 19px;
	font-family: "BaiJamjuree-Light";
	cursor: pointer;
	width: 200px;
}

/* Sessão Sobre */
section.sobre {
	width: 100%;
	
	color: white;
}

section.sobre div {
	width: 80%;
	margin: 50px auto;
	text-align: center;
	padding: 0px 20px;
	border-left: 2px solid #E71E3F;
	border-right: 2px solid #E71E3F;
	height: 200px;
}

section.sobre h3 {
	font-family: "BaiJamjuree-Bold";
	font-size: 25px;
	text-align: center;
	padding-bottom: 20px;
}

section.sobre p {
	font-family: "BaiJamjuree-Medium";
	color: rgba(255, 255, 255, .7);
	vertical-align: middle;
	font-size: 22px;
	letter-spacing: 1px;
}